:root {
    --darkGreen: #202A25;
    --lightGreen: #F3F9F2;
    --lightRed: #FFFEFE;
    --black: #000000;
    --white: #ffffff;
    --errorColour:#f00e0e;
    --bodyFont: "Roboto", Arial, Helvetica, sans-serif;
    --testimonialFont: "MV Boli";
    
    --font-size-heading: 2.9vw;
    --font-size-subheading: 1.5vw;
    --font-size-bodytext: 1.2vw;
    --font-size-nav: 50px;
    --font-size-nav-active: 60px;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

  h1{
    font-size: xx-large;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5vh;
    }

    h2{
      font-weight: 400;
    }


.darkGreen {
  background-color: var(--darkGreen);
}

.lightGreen {
  background-color: var(--lightGreen);
}

.button {
  text-decoration: none;
  background-color: var(--darkGreen);
  color: var(--white);
  width: 30vw;
  border-radius: 50px;
  text-align: center;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.contactButton{
  margin: auto;
}

.submitButton {
  margin-left: 3.5vw;
  font-size: large;
}

.bigNav {
  display: none;
}

.lockedBig {
  display: none;
}

.navWrapper {
  display: fixed;
}

.mobileNav {
  background-color: var(--white);
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 8vh;
  margin: auto;
  justify-items: center;
  align-content: center;
  padding-left: 9vw;
 
  padding-top: 2.5vh;
  z-index: 1;
  font-family: var(--bodyFont);
  color: var(--black);
  text-decoration: none;
  bottom: 0;
}



.burgerGroup {
  display: flex;
  width: 50%;
  align-items: center;
  text-decoration: none;
  margin-bottom: 3vh;
}

.burger {
  width: 30px;
  margin-left: 15px;
}

.logo {
  height: 9vh;
  margin-bottom: 3vh;
}

.mainVideoContainer {
  width: 100%;
  margin-bottom: 0;
  height: 63vh;
}

#mainVideo {
    width: 100vw;
    height: 93vh;
    object-fit: fill;
    position: absolute;
    top: 0vh;
    left: 0;
  }

  .overlay {
    position: relative;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--bodyFont);
    color: var(--white);
  }

  .overlayText {
  margin-top: 20vh;
  }

  .exploreText{
    font-size: 10vh;
    font-weight: lighter;
    margin-bottom: 0;
    margin-bottom: 0;
    margin-top: 28vh;
    padding-bottom: 0;
  }
  .hørningText{
    font-size: 8vh;
    margin-top: 0;
    font-weight: lighter;
  }

/*Hidden Places*/
.hiddenPlaces{
  padding-top: 15vh;
  padding-bottom: 15vh;
  color: var(--white);
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 0;
}

.description{
  background-color: var(--lightRed);
  color: var(--black);
  width:60%;
  margin: auto;
  height: 30vh;
  justify-content: center;
  padding: 2vw;
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
}

/*Choose your adventure*/
.chooseYourAdventure {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
}

.options {
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  justify-content: center;
  flex-wrap: wrap;
}




.imageContainer {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
  margin-bottom: 10vh;
}

.chooseImage {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg) scale(1.42);
}

.adventureLink {
  text-decoration: none;
  color: var(--black);
}

.shortDescription {
  width: 200px;
margin:auto;
  padding-bottom: 10vh;
}

/*ideas*/
.ideas {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
}

.ideasForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.ideaTermsAndSubmit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#submitIdea {
  margin-top: 2vh;
}

/*newsletter*/
.newsletter {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
}

.emailAndTerms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 2vh;
}

.terms{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  margin: 0;
  padding: 0;
}

.newsletterText{
  font-size: large;
  border-radius: 5px;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  padding-left: 0.4vw;
  border-color: var(--darkGreen);
  border-width: 0.5px;
}

.oldcheckbox{
  opacity: 100%;
  }

/*
.oldcheckbox{
  opacity: 0%;
  width: 0;
  height: 0;
 

.checkbox {
width: 1.5vw;
height: 1.5vw;
background-color: var(--white);
border: solid;
border-radius: 5px;
border-width: 0.5px;
border-color: var(--darkGreen);
transition: 0.3s;
} 
*/

.formNewsletter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
}

.footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  color: var(--white);
}

.footerLeft {
  margin-left: 25vw;
}

.footerRight {
  margin-left: 25vw;
}

.copyright{
  padding-top: 4vh;
}


.subVideo {
  width: 100%;
}

.play {
  width: 10%;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galleryImage {
  width: 50%;
  height: 33vh;
}

 #myModal {
    display: none;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modalMain {
    background-color: var(--lightRed);
    margin: 30% auto;
    width:100%;
    height: 60%;
  }

/*contact*/
.description{
  background-color: var(--lightRed);
  color: var(--black);
  width: 60%;
  margin: auto;
  height: 45vh;
  justify-content: center;
  padding: 2vw;
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}

#hiddenPlaceMain {
  margin-top: 0;
  padding-top: 10vh;
}

/*404*/
.errorMain {
  background-color: var(--lightGreen);
}

.padlockImage {
  width: 100%;
}

.errorRight{
background-color: var(--lightGreen);
font-family: var(--bodyFont);
margin-left: 2vw;
padding-top: 3vh;
padding-bottom: 7vh;
}

.errorButton{
  margin-left: 30vw;
}

.lockedMobile {
  font-family: var(--bodyFont);
  text-align: center;
  padding-top: 10vh;
}


/*larger screens*/
@media only screen and (min-width:600px) {

  body{
    overflow-x: hidden;
  }

  h1{
    font-size: xx-large;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5vh;
    }

  h2{
    font-weight: 400;
  }

  h3{
    font-weight: 400;
  }

  .button {
    width: 7vw;
  }

/*navigation*/
.navWrapper {
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: var(--white);
  width: 100%;
  margin-bottom: 0;
}


.bigNav {
   display: block;
   display: flex;
   justify-content: space-between;
   margin-left: 2vw;
   margin-right: 2vw;
   margin-top: 1vh;
   text-decoration: none;
   align-items:center;
  font-family: var(--bodyFont);
  color:var(--black);
  text-decoration: none;
  font-weight: 400;
    }

.nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1vh;; 
}

 .language {
  margin-top: 3vh;
  text-decoration: none;
 }

 .dk {
  text-decoration: none;
 }

.logo {
  height: 10vh;
  margin-bottom: 0;
}

  .mobileNav {
    display: none;
  }

/*index main*/

.mainVideoContainer{
padding-bottom: 0;
margin-bottom: 0;
  height: 61vh;
}

  #mainVideo {
    width: 100vw;
    height: 83vh;
    object-fit: cover;
    position: absolute;
    top: 13vh;
    left: 0;
  }

  .overlay {
    height: 80vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }

 
  
    .exploreText{
      font-size: 15vh;
      font-weight: lighter;
      margin-bottom: 0;
      margin-top: 33vh;
      padding-bottom: 0;
    }
    .hørningText{
      font-size: 10vh;
      margin-top: 0;
      font-weight: lighter;
    }

/*hidden places*/
.hiddenPlaces{
  padding-top: 10vh;
  padding-bottom: 15vh;
  color: var(--white);
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 0;
}

.description{
  background-color: var(--lightRed);
  color: var(--black);
  width: 25%;
  margin: auto;
  height: 25vh;
  justify-content: center;
  padding: 2vw;
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6.5vh;
}

/*Choose your adventure*/
.chooseYourAdventure {
  padding-top: 10vh;
  padding-bottom: 1vh;
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  justify-content: space-evenly;
}

.imageContainer {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
  height: 300px;
  transform:rotate(45deg);
  margin-bottom: 10vh;
}

.chooseImage {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg) scale(1.42);
}

.adventureLink {
  text-decoration: none;
  color: var(--black);
}

.shortDescription {
  width: 200px;

}

/*ideas*/
.ideas {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
}

.ideasForm {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

/*newsletter*/
.newsletter {
  padding-top: 5vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  text-align: center;
  align-items: center;
}

.emailAndTerms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.terms{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  margin: 0;
  padding: 0;
}

.newsletterText{
  font-size: large;
  border-radius: 5px;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  padding-left: 0.4vw;
  border-color: var(--darkGreen);
  border-width: 0.5px;
}

.oldcheckbox{
  opacity: 100%;
  }

/*
.oldcheckbox{
  opacity: 0%;
  width: 0;
  height: 0;
 

.checkbox {
width: 1.5vw;
height: 1.5vw;
background-color: var(--white);
border: solid;
border-radius: 5px;
border-width: 0.5px;
border-color: var(--darkGreen);
transition: 0.3s;
} 
*/

.formNewsletter{
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: flex-start;
}

  .galleryImage {
    width: 16.6%;
    height: 40vh;
  }
  
  .modalMain {
    margin: 10% auto;
    width: 40%;
  }

.footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: var(--bodyFont);
  font-size: large;
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.footerLeft {
  margin-left: 0vw;
}

.footerRight {
  margin-left: 0vw;
}

.copyright{
  padding-top: 0;
}

/*contact*/
#hiddenPlaceMain {
  padding-top: 20vh;
  padding-bottom: 10vh;
}

/*subpages*/

.subMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10vh;
  margin-top: 3%;
  padding-bottom: 5vh;
}

.subVideo{
  width: 35%;
  margin-left: 15%;
  object-fit: fill;
  height: 60vh;
  border-radius: 5px 0px 0px 5px;
}

.subHiddenPlaces {
  width: 35%;
  height: 35vh;
  margin-right: 15%;
  margin-top: 0;
  border-radius: 0px 5px 5px 0px;
}

.subDescription {
  padding-top:1.5vh;
  width: 30%;
}

.downArrow {
  width: 4vw;
  margin-left: 47.5vw;
  padding-bottom: 3vh;
}

/*Destination Overview*/
.destinationOverview{
  font-family: var(--bodyFont);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.destinationText {
  text-align: center;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-evenly;
  row-gap: 7vh;

}

.destinationCard{
  background-color: var(--lightRed);
  border-radius: 15px;
  width:28%;
  height: 21vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: large;
}

.descriptionCard{
  padding-top: 2vh;
}

.facilitiesCard {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.facilitiesHeading {
  margin-bottom: 0.5vh;
  margin-top: 1.5vh;
}

/*Gallery*/
.snapshot {
  font-family: var(--bodyFont);
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.galleryImage {
  width: 16.6%;
  height: 40vh;
}

/*testimonials*/
.testimonials {
  font-family: var(--bodyFont);
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.testimonial {
  font-family: var(--testimonialFont);
  font-size: large;
  padding-bottom: 2vh;
}

.testimonialsHeader {
  text-align: center;
}

.testimonial1{
  margin-left: 30vw;
}

.testimonial2{
  margin-left: 45vw;
}

.testimonial3{
  margin-left: 30vw;
}

/*Next Adventure*/
.yourNextAdventure{
  font-family: var(--bodyFont);
  padding-top: 8vh;
  text-align: center;
}

/*404*/

.lockedMobile {
  display: none;
}

.lockedBig {
  display: block;
}



.errorMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 5%;
  font-family: var(--bodyFont);
  height: 60vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--white);
  
}

.padlockImage{
  width:35%;
  height:60vh;
  margin-left: 15%;
  border-radius: 5px 0px 0px 5px;
}

.errorRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50vh;
  width: 35%;
  margin-right: 15%;
  border-radius: 0px 5px 5px 0px;
}

.errorDescription {
  background-color: var(--lightRed);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 5vh;
  text-align: center;
  padding-bottom: 7vh;
  font-size: large;
  border-radius: 15px;
}

.errorButton{
  margin-left: 0vw;
}

}